.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column; 
 
}

.hero {
  height:25rem;
  width: 100%;

}

/* Info section */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


/* Larger screens */
@media (min-width: 800px) {
  .heroContainer {
    flex-direction: row; 
  }
  
  .hero {
    max-width: 350px;
  }

  .colorMode {
    width: 50px;
  }
}

@media (min-width: 1400px) {
  .hero {
    max-width: 400px;
  }

  .colorMode {
    width: 60px;
  }
}

