.colorModeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Add space between hero image and theme icon */
}

.hero {
  max-width: 200px;
  width: 100%; 
  border-radius: 50%;
}

.colorMode {
  width: 40px; /* Adjust size of the theme icon */
  height: auto;
  cursor: pointer;
}

/* Larger screens */
@media (min-width: 800px) {
  .hero {
    max-width: 350px;
  }

  .colorMode {
    width: 50px; /* Increase size of the theme icon for larger screens */
  }
}

@media (min-width: 1400px) {
  .hero {
    max-width: 400px;
  }

  .colorMode {
    width: 60px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
